<div class="mt-30 search-form">
    <form method="GET">
        <div class="form-group">
            <label for="search-input" class="form-label">Key word</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Type keyword">
            <label for="search-input" class="form-label">SEX</label>
            <select name="gender" class="form-control" id="gender-input">
                <option value="">--SEX</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>